html, body {
  background: #36454f;

  background: -webkit-linear-gradient(to bottom right, #36454f, darkgray);

  background: linear-gradient(to bottom right, #36454f, darkgray);

  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;

  font-family: "Lato", sans-serif;
  color: #202020;
}

.main {
  min-height: 100vh;
  display: block;
  position: relative;
  padding-bottom: 100px;
}
/*#7a93a3*/

#navTop {
  padding: 25px 0;
  background-color: #6a8794;
  text-align: center;
}

#navTop.navBar.li {
  padding: 15px;
  text-align: center;
}

#navTop a h2 {
  text-align: center;
  font-size: 28px;
  display: inline;
  padding: 30px;
}

a {
  text-decoration: none;
  color: lightgray;
}

a.nav-link:hover {
  text-decoration: underline;
}

#about {
  padding-top: 50px;
  text-align: center;
  font-size: 35px;
  color: #202020;
  margin: auto;
  margin-top: -20px;
  display: block;
  height: 95%;
}

#contactInfo {
  font-size: 18px;
  text-align: center;
  color: #202020;
  bottom: 0;
  width: 100%;
  position: absolute;
}

#contactInfo a {
  color: #202020;
}

* {
  box-sizing: border-box;
}

.center {
  text-align: center;
}
#aboutMe {
  text-align: left;
  padding-top: 200px;
  padding-left: 40px;
  padding-right: 40px;
}
