html, body {
  background: #6699cc;

  background: -webkit-linear-gradient(to bottom right, #6699cc, gray);

  background: linear-gradient(to bottom right, #6699cc, gray);

  margin: 0;
  height: 100%;
  padding: 0;
}
