html, body {
  background: #36454f;

  background: -webkit-linear-gradient(to bottom right, #36454f, darkgray);

  background: linear-gradient(to bottom right, #36454f, darkgray);

  margin: 0;
  height: 100%;
  padding: 0;
  width: 100%;

  font-family: "Lato", sans-serif;
}

#navTop {
  padding: 25px 0;
  background-color: #6b6b94;
  text-align: center;
}

#navTop.navBar.li {
  padding: 15px;
  text-align: center;
}

#navTop a h2 {
  text-align: center;
  font-size: 28px;
  display: inline;
  padding: 30px;
}

a {
  text-decoration: none;
  color: lightgray;
}

a.nav-link:hover {
  text-decoration: underline;
}

#about {
  padding-top: 50px;
  text-align: center;
  font-size: 35px;
  color: #202020;
}

#contactInfo {
  text-align: center;
  color: #202020;
  bottom 0;
  height: 2.5rem;
  width: 100%;
  position: relative;
}
