html, body {
  background: #36454f;

  background: -webkit-linear-gradient(to bottom right, #36454f, darkgray);

  background: linear-gradient(to bottom right, #36454f, darkgray);

  margin: 0;
  height: 100%;
  padding: 0;

  font-family: serif;
}

body {
  text-align: center;
  padding-top: 20px;
}

nav {
  text-align: center;
  position: static;
  float: left;
  height: 30px;
  width: 20px;
}
