html, body {
  background: #36454f;

  background: -webkit-linear-gradient(to bottom right, #36454f, darkgray);

  background: linear-gradient(to bottom right, #36454f, darkgray);

  margin: 0;
  height: 100%;
  padding: 0;

  font-family: "Lato", sans-serif;
}

body {
  text-align: center;
  padding-top: 20px;
  position: static;
}

#navTop {
  padding: 50px 0;
  background-color: tan;
}

#navTop.navBar.li {
  padding: 15px;
  text-align: center;
}

#navTop a h2 {
  font-size: 26px;
  display: inline;
  padding: 10px;
}

a {
  text-decoration: none;
  color: lightgray;
}

#about {
  position: static;
  padding-top: 20px;
  text-align: center;
  font-size: 35px;
  color: #202020;
}
