html, body {
  background: #36454f;

  background: -webkit-linear-gradient(to bottom right, #36454f, darkgray);

  background: linear-gradient(to bottom right, #36454f, darkgray);

  margin: 0;
  padding: 0;

  font-family: "Lato", sans-serif;
}

body {
  text-align: center;
  padding-top: 20px;
  position: static;
}

#navTop {
  padding: 50px 0;
}

#navTop.navBar.li {
  padding: 15px;
  text-align: center;
}

#navTop a h2 {
  font-size: 26px;
  display: inline;
  padding: 10px;
}

/*nav {
  background-color: skyblue;
  position: static;
  display: inline;
  float: left;
  height: 60px;
  width: 400px;
  padding: 0;
  margin: 0;
  font-size: 18px;
  text-align: center;
  list-style-type: none;
  font-size: 30px;
}*/

#about {
  position: static;
  padding-top: 20px;
  text-align: center;
  font-size: 35px;
  color: #202020;
}
