html, body {
  background: #666699;

  background: -webkit-linear-gradient(to bottom right, #666699, gray);

  background: linear-gradient(to bottom right, #666699, gray);

  margin: 0;
  height: 100%;
  padding: 0;
}
